streamlit
langchain
langchain-community
langchain-google-genai
faiss-cpu
google-generativeai
pytz
deep_translator
gTTS
speechrecognition
pydub
tavily-python
python-dotenv
pandas
openpyxl        # For XLS/XLSX
PyPDF2          # For PDF text extraction
    # Built-in, for SQLite